@media only screen and (max-width: 900px) {
    .project-deets{
        width: 70%;
    }
}
@media only screen and (max-width: 700px) {
    h1{
        font-size: 45px;
      }
    h2{
        font-size: 30px;
    }
      .til-wit{
          width: 80%;
      }
      .project-box{
          height: 300px;
      }
      .project-deets{
        width: 80%;
    }
    .circle-circle{
        width: 350px;
        height: 350px;
    }
}

@media only screen and (max-width: 500px) {
    .news-form{
        width: 400px;
    }
    .work-ly{
        grid-template-columns: 1fr;
    }
    .skills{
        grid-template-columns: 1fr 1fr;
    }
    .project-deets{
        width: 95%;
    }
    .contact-form{
        width: 90%;
    }
    .works-title{
        width: 100%;
    }
    .btn{
        padding: 15px 35px;
    }
    #project{
        height: 40vh;
    }
    .circle-img{
        display: block;
        top: 0px;
        left: 0%;
        text-align: center;
    }
    .circle{
        right: 80%;
    }
    .features-box{
        display: block;
    }
}

@media only screen and (max-width: 412px) {
    h1{
        font-size: 30px;
    }
    .news-form{
        width: 100%;
    }
    .features-box{
        display: block;
    }
    .text-only{
        padding: 10% 0% 0% 0%;
    }
    .footer-copy{
        /* display: none; */
        text-align: center;
    }
    .social-icon img {
        width: 90%;
    }
    .footer-deets{
        display: block;
    }
    .circle-img{
        display: block;
        top: 0px;
        left: 0%;
        text-align: center;
    }
    #project{
        height: 55vh;
    }
    .circle{
        right: 90%;
    }
    textarea{
        border-radius: 20px !important;
    }
    /* .navbar{
        display: block;
        height: 70%;
    }
    .nav-scrolled{
        height: 150px;
    }
    .logo{
        width: 10%;
        margin: 0 auto;
    }
    .nav-right{
        width: 100%;
        height: auto;
    } */
    .nav-link{
        padding: 0 15px;
    }
    /* .logo img{
        width: 30px;
    } */
    .about-btn{
        padding: 15px 22px;
        border-radius: 15px;
    }
    .nav-toggle{
        padding-right: 10px;
    }
}

@media only screen and (max-width: 300px) {
    .nav-toggle{
        padding-right: 20px;
    }
    .title{
        margin-bottom: 20px;
    }
    h3{
        font-size: 20px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
    .features-box{
        border-radius: 15px;
    }
    #project{
        height: 60vh;
    }

}