/* ==========================================================================
   Start of Code
   ========================================================================== */
  html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
    background-color:#FCFCFC;
    scroll-behavior: smooth;
  }
  
   body {
    font-family: Plusjakartadisplay, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: scroll; 
    box-sizing: border-box;
    color: #212960;
    font-size: 14px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    width: 100%;
  } 
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-track{
  background-color: rgb(216, 216, 216);
}
::-webkit-scrollbar-thumb{
  background: #212960;
  border-radius: 10px;
}
  /* General style */
  *:focus {
    outline: 0 !important;
  }
  .container{
    
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    
    /* text-align: center; */
    
  }
  .btn{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-block;
    align-items: center;
    flex-wrap: nowrap;
    padding: 15px 52px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #212960 !important;
    color: #fff !important;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.03em;
    box-shadow: 0px 10px 10px #21296023;
    transition: 0.3s;

    display: inline-block;
  align-items: center;
  flex-wrap: nowrap;
  }
  .btn:hover{
    -webkit-transform: translateY(-5px);
	  transform: translateY(-5px);
  }
  .btn-icon{
    padding-right: 10px;
  }
  h1{
    margin: 0;
    font-size: 70px;
    line-height: 1.05;
  }
  h2{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.05;
    margin: 0;
  }
  h3{
    position: relative;
    z-index: 5;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.03em;
  }
  h4{
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.025em;
  }
  button{
    padding: 0;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: pointer;
  }
  /* end general style */
  nav{
    width: 100%;
    z-index: 100;
  }
  .nav{
    position: fixed;
    transition: all 0.4s ease;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 7%;
    height: 90px;
    transition: all 0.4s ease;
  }
.logo img{
  width: 100%;
  height: auto;
}
  .nav-toggle {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 50px;
  }

  .nav-toggle span{
    transition: all 0.4s ease;
    margin: 3px 0;
    height: 2px;
    background-color: #212960;
  }
  .nav-toggle span:first-child{
    width: 30px;
  }
  .nav-toggle span:last-child{
    width: 22px;
  }

  .nav-toggle:hover span:last-child{
    width:30px
  }

  .nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link{
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #212960;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto; 
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  a{
    outline: none;
    text-decoration: none;
  }

  /* nav */

  .nav-toggled span{
    margin:0;
  }
  .nav-toggled span:last-child{
    pointer-events:none;
    opacity:0;
  }

  .nav-links{
    pointer-events:none;
    -webkit-transition:all 0.4s ease;
    transition:all 0.4s ease;
    -webkit-filter:blur(20px);
    filter:blur(20px);
    opacity:0;
    height:100%
  }
  .nav-links-show{
    pointer-events:all;
    -webkit-filter:blur(0);
    filter:blur(0);
    opacity:1;
    top:80px;
  }
  .nav-scrolled{
    height: 30px;
    background:#fcfcfc75;
    -webkit-backdrop-filter: saturate(100%) blur(20px);
    backdrop-filter: saturate(100%) blur(20px);
  }
  /* end nav */

  /* Home */
  #home{
    margin: 0 auto;
    padding-bottom: 5%;
    padding-top: 9%;
    text-align: center;
  }
  .home{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .avatar{
    width: 160px;
    height: 160px;
  }

  .title{
    display: flex;
    margin-bottom: 32px;
    align-items: center;
  }
  .title-text{
    padding: 0% 0%;
    font-size: 16px;
  }
  /* end home */

  /* Features segment */
  #features{
    width: 100%;
    padding: 5% 0%;
  }

  .features{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
  }

  .features-box{
    border-radius: 26px;
    width: 90%;
    margin: 0 auto;
    transition: transform .4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: url('../img/favicon.png'), auto;
  }
  
  .features-box:hover{
    transform: scale(1.010);
  }

  .features-text{
    padding: 0% 5%;
  }
  .features-img{
    padding: 3%;
  }
  .features-img img{
    width: 100%;
    height: 300px;
  }
  .text-only{
    padding: 3%;
  }
  .text-only h2{
    color: #212960;
  }
  .text-only p{
    font-size: 16px;
    font-weight: normal;
    color: #212960;
    opacity: 56%;
    width: 90%;
  }
  a.see-project {
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: url(../img/iconic-circle-arrow.svg) no-repeat right center;
    background-size: 15px;
    font-weight: bold;
    color: #212960;
}
  /* just */
  .just{
    background: #DFE6E9;
  }
  /* afrisoc */
.afrisoc{
  background: #0984E3 !important;
}
.afrisoc .text-only p, .afrisoc .text-only h2, .afrisoc .text-only a{
  color: #FCFCFC !important;
}
.afrisoc a.see-project{
  background: url(../img/iconic-circle-arrow-white.svg) no-repeat right center !important;
  background-size: 15px !important;
}
/* rotex */
.rotex{
  background: #E6E2D7 !important;
}
.rotex .text-only p, .rotex .text-only h2, .rotex .text-only a{
  color: #171715 !important;
}
.rotex a.see-project{
  background: url(../img/iconic-circle-arrow-dark.svg) no-repeat right center !important;
  background-size: 15px !important;
}
 /* luvanex */
 .luvanex{
  background: #2D3436 !important;
}
.luvanex .text-only p, .luvanex .text-only h2, .luvanex .text-only a{
  color: #FCFCFC !important;
}
.luvanex a.see-project{
  background: url(../img/iconic-circle-arrow-white.svg) no-repeat right center !important;
  background-size: 15px !important;
}

  /* end features segment*/
  
  /* newsletter */
  #newsletter{
    padding: 5% 0%;
  }
  .newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .prop{
    width: 100%;
    flex: 20%;
  }
  .prop img{
    width: 100%;
  }

  .newsletter-form{
    text-align: center;
  }
  .newsletter-form{
    /* width: 70%; */
    margin: 0 auto;
  }
  .form-style{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #DFE6E9;
    margin: 5% 0%;
    padding: 20px;
  }
  .news-form{
    width: 500px;
    margin: 2% auto !important;
  }
  .form-input{
    text-align: right;
  }
  input[type=email] {
    border: none;
    margin: 8px 0;
    background-color: transparent;
    font-size: 20px;
    
  }
  input[type=submit]{
    width: 70px;
  }
  /* end newsletter */

  /* footer */
  footer{
    padding-top: 5%;
    width: 100%;
  }
  hr{
    color: #212960;
    width: 100%;
  }
  .footer-deets{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    width: 100%;
  }
  .footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icon{
    padding: 3%;
  }
  .social-icon img{
    width: 100%;
  }
  .footer-email-deets{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-end{
    padding: 10% 3%;
    text-align: center;
  }
  .footer-email-icon{
    padding: 5%;
  }
  .footer-email-icon img{
    width: 100%;
  }
  /* end footer */

/* about me*/
#about{
  width: 100%;
  padding-bottom: 5%;
}
.about{
  background-color: #6C5CE7;
  padding: 6% 3%;
}
.about h2{
  color: white !important;
}
.about p{
  color: #e3e0ff;
}
.right-mg{
  text-align: end;
}
.about-btn{
  display: inline-block;
  align-items: center;
  flex-wrap: nowrap;
 
  padding: 15px 52px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #978BF1;
  color: #fff;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.03em;
  transition: 0.3s;
}
.about-btn svg{
  padding-right: 5px;
  margin-bottom: -5px;
}

/* resume*/
#resume{
  width: 100%;
  padding: 3%;
}
.resume h2{
  text-align: left;
  margin-bottom: 56px;
}
.work-experience{
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
}
.company-wrap{
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
}
.title-wrap{
  margin-bottom: 44px;
}
.company-name{
  margin-bottom: 16px;
}
.company-name h4{
  margin-top: 0px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}
.job-role{
  margin-bottom: 14px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.timeframe{
  margin-bottom: 10px;
    color: #5e6380;
}

/* skills */
.skills{
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Project */
#project{
  width: 100%;
  height: 70vh;
}
.project{
  width: 80%;
  margin: 0 auto;

}
.project-deets{
  width: 60%;
  margin: 0 auto;
  position: relative;
  padding-left: 5%;
}
.circle-img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;     
  position: absolute;
  top: 100px;
  z-index: 5;
  left: 10%;
  width: 100%;
}
.circle{
  width: 100%;
  height: 100%;            
  position: absolute;
  right: 10%;
}

.circle-circle{
  height: 400px;
  width: 400px;
  background-color: #FFEAA7;
  border-radius: 50%;
  display: inline-block;
} 
.talk{
  color: #6C5CE7;
  text-decoration: underline;
  
}
.caramel{
  background-color: #FAB1A0 !important;
}
/* end about me*/

/* contact */
  .contact{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
  }
  .contact-form{
    width: 60%;
    margin: 0 auto;
  }
  .contact-form input, .contact-form textarea{
    border: none;
    margin: 8px 0;
    background-color: transparent;
    font-size: 20px;

    border-radius: 50px;
    box-sizing: border-box;
    background-color: #DFE6E9;
    padding: 20px;
    width: 100%;
  }
/* end contact */

/* work */
 .work-ly{
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;

}
.work-cl{
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
}

.project-wrap{
  text-decoration: none;
}
.project-box{
  overflow: hidden;
  height: 570px;
}
.project-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s; /* Animation */
}
.project-text{
  padding-top: 24px;
}
.project-img:hover{
  transform: scale(1.1);
}
/* end work */

/* works folder */
#works{
  margin: 0 auto;
  padding-bottom: 5%;
  padding-top: 9%;
}
.works-title{
  padding-top: 3%;
  padding-bottom: 3%;
  width: 60%;
}
.work-img{
  width: 90%;
  margin: 0 auto;
  
}
.work-img img{
  width: 100%;
  border-radius: 20px;
  transition: transform 1s;
  margin-bottom: 60px;
  box-shadow: 0px 10px 10px #21296023;
}
.work-img img:hover{
  transform: scale(1.020);
  cursor: url('../img/favicon.png'), auto;
}
/* end works folder */